<h1>Habits</h1>
<%= link_to "New Habit", new_habit_path %>

<ul>
  <% @habits.each do |habit| %>
    <li>
      <%= link_to habit.name, habit_path(habit) %>
      (<%= habit.frequency_type %>)
    </li>
  <% end %>
</ul>